.container {

}
.progressContainer {
    position: relative;
    width: 100%;
    height: 10px;
    border-radius: 3px;
    overflow: hidden;
    border: solid 1px burlywood;
}
.progress{
    position: absolute;
    background: red;
    top: 0;
    left: 0;
    height: 100%;
}
